<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Document</title>


</head>

<body>
    <div class="accordion" id="accordionExample">
        <% for (let items of equipment){%>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#<%= items.slug%>" aria-expanded="true" aria-controls="collapseOne">
                        <%= items.name%>
                    </button>
                </h2>
                <div id="<%= items.slug%>" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Category: <%= items.category%></li>
                            <li>Weight: <%= items.weight%></li>
                            <li>Cost: <%= items.cost%></li>
                            <li>Damage: <%= items.damage_dice%></li>
                            <li>Damage_Pierce: <%= items.damage_type%></li>

                        </ul>
                    </div>
                </div>
            </div>

            <%}%>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>